<section class="main-section">
    <div class="main-img-div">
        <img src="../../assets/images/hero-page.jpg" alt="" class="img-fluid main-img">
    </div>
    <div class="content text-center">
        <p class="title">Welcome to Employee Dashboard</p>
        <p class="sub-para">This Demo Websites is About Employee Sign UP, Login Employee Details. <br>Which done using <span>Angular</span> and <span>JSON server.</span></p>
        <p class="note">Go Below for quick information of employees and sign users</p>
    </div>
</section>


<div class="container-fluid py-5 card-design">
    <section class="employee-detail">
        <div class="row">
            <div class="col-6 d-none d-lg-block">
                <div class="main-img-div">
                    <img src="../../assets/images/dashboard.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="card-title">Employee Details</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of employeeData">
                                <td class="name">{{row.firstName}}</td>
                                <td class="name">{{row.lastName}}</td>
                                <td>{{row.salary}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 class="card-title">SignUp User Detail</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of signUpdata">
                                <td class="name">{{row.fullname}}</td>
                                <td class="name">{{row.mobile}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>