<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Angular crud</h1>
        <div class="d-flex">
          <!-- <button type="button" (click)="clickAddEmploye()" data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Add Employee</button> -->
          <button routerLink="/login" class="btn btn-success">Logout</button>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Mobile no.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of signUpdata">
            <td>{{row.id}}</td>
            <td>{{row.fullname}}</td>
            <td>{{row.email}}</td>
            <td>{{row.password}}</td>
            <td>{{row.mobile}}</td>
            <td>
                <button (click)="onEditUser(row)" class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Edit</button>
                <button (click)="deleteUser(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup] = "formValue">
                <div class="form-group">
                  <label for="full_name">Full Name</label>
                  <input type="text" formControlName="fullname" class="form-control" id="full_name">
                </div>
                <div class="form-group">
                    <label for="email_id">Email Id</label>
                    <input type="email" formControlName="email" class="form-control" id="email_id">
                </div>
                <div class="form-group">
                    <label for="pw">Password</label>
                    <input type="text" formControlName="password" class="form-control" id="pw">
                </div>
                <div class="form-group">
                    <label for="mobile_no">Mobile Number</label>
                    <input type="text" formControlName="mobile" class="form-control" id="mobile_no">
                </div>
               
                
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" (click)="postUserDetails()" class="btn btn-primary">Add</button> -->
          <button type="button" (click)="updateUserDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>